<mat-horizontal-stepper [linear]="true" #stepper>
  <mat-step [stepControl]="firstFormGroup">
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel>Как вас зовут?</ng-template>
      <div class="text-center">
        <mat-form-field>
          <input matInput placeholder="Имя" formControlName="Name" minlength="6" required>
          <mat-error *ngIf="firstFormGroup.controls['Name'].invalid">{{getErrorNameMessage()}}</mat-error>
        </mat-form-field>
        <div>
          <button mat-button class="mt-2" matStepperNext>Далее</button>
        </div>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup">
    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel>Регистрация</ng-template>
      <div class="text-center">
        <mat-form-field>
          <input matInput placeholder="Почта" formControlName="Email" minlength="4" required>
          <mat-error *ngIf="secondFormGroup.controls['Email'].invalid">{{getErrorEmailMessage()}}</mat-error>
        </mat-form-field>
        <br />
        <mat-form-field>
          <input matInput placeholder="Пароль" type="password" formControlName="Password" minlength="6" required>
          <mat-error *ngIf="secondFormGroup.controls['Password'].invalid">{{getErrorPasswordMessage()}}</mat-error>
        </mat-form-field>
        <br />
        <mat-form-field>
          <input matInput placeholder="Подтвердите пароль" type="password" formControlName="ConfirmPassword" minlength="6" required>
          <mat-error *ngIf="secondFormGroup.controls['ConfirmPassword'].invalid">{{getErrorPasswordSubmitMessage()}}</mat-error>
        </mat-form-field>
        <br />
        <mat-form-field>
          <mat-select placeholder="Вы" formControlName="UserRole">
            <mat-option value="1">Клиент</mat-option>
            <mat-option value="2">Тренер</mat-option>
          </mat-select>
        </mat-form-field>
        <div>
          <button mat-button matStepperPrevious>Назад</button>
          <button mat-button class="mt-2" matStepperNext (click)="Register()">Далее</button>
        </div>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <div class="text-center">
      <ng-template matStepLabel>Завершение</ng-template>
      <p>Благодарим за регистрацию</p>
      <a mat-raised-button class="onhovernone" href="#login" role="button">Войти</a>
    </div>
  </mat-step>
</mat-horizontal-stepper>

